*{
    margin:
}
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }

body{
    background-color: var(--body-bg-color);
    width: 100vh;
    height: 100hv;
    overflow-x: hidden;
}
main{
    overflow: hidden;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 150px;
}
img#img{
    
    border-radius: 50%;
    width: 250px;
    height: 250px;
    Border: 2px solid var(--purple);
    padding: 10px;
}
article{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: content;
}
footer{
    width: 100vw;
    height: 50;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img#svg{
    padding: 10px;
    width:45px;
}
a{
    text-decoration: none;
    padding: 10px;
}
p{
    Border: 3px solid var(--purple);
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 3px 3px;
    text-decoration: none;
    cursor: pointer;
    
}
p:hover{
    background-color: #c5aedd;
}
     